@import "../../../styles.scss";

.content {
  overflow: auto;
  max-height: 80vh;
  flex: 1;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  min-height:93vh;
}

.stick-bottom{
  position: sticky;
}

.count{
  width: 100%;
}

.image-container{
  position: relative;
}

.image-container img{
  display: block;
}

.image-container .download{
  position: absolute;
  background: white;
  bottom: 0;
  left: 12px;
}

.mat-form-field {
  margin-top: 10px;
}