<footer>
  <div class="pt-3 pb-2">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="footer-widget">
          <div class="footer-social-icon row justify-content-center">
            <span>Follow me</span>
            <a class="col-4" href="#"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
            <a class="col-3" href="#"><i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a class="col-3" href="#"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-4 col-md-6">
        <div class="footer-widget">
          <div class="footer-widget-heading">
            <h3 class="mb-3">Provide Feedback</h3>
          </div>
          <div class="subscribe-form">
            <form [formGroup]="form">
              <div class="input-field">
                <div class="email">
                  <input type="email" placeholder="Email Id (optional)" formControlName="email"/>
              </div>
                <div class="email mt-2">
                    <input type="text" placeholder="Feeback" formControlName="feedback"/>
                    <i class="fa fa-paper-plane" (click)="sendMail()" *ngIf="form.valid"></i>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>