<div class="error-page">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <h1 class="text m-2 p-2">{{data.status}}</h1>
                <div class="text m-2 p-2">Server Error</div>
                <div class="text m-2 p-2">{{data.error.error.message}}</div>
                <div class="text m-2 p-2">Looks like you are lost in space.</div>
            </div>
        </div>
        <div class="d-flex justify-content-center p-3">
            <button (click)="closeDialogBox()" role="button" class="button-49">Home</button>
        </div>
    </div>
</div>