<div class="container">
    <div class="my-1 content-box row" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="chat" id="msgContainer">
            <div *ngFor="let dt of data">
                <div *ngIf="dt.name==='gpt'" class="response-gpt p-3 mb-4">
                    <markdown [data]="dt.content" (load)="onLoad($event)" (error)="onError($event)">
                    </markdown>
                    <div class="time">{{ dt.time | date : 'shortTime'}}</div>
                </div>
                <div *ngIf="dt.name==='user'" class="response-user p-3 mb-4">
                    <markdown [data]="dt.content" (load)="onLoad($event)" (error)="onError($event)">
                    </markdown>
                    <div class="time">{{ dt.time | date : 'shortTime'}}</div>
                </div>
            </div>
            <div *ngIf="loading" class="loader">Typing
                <span class="blink">.</span>
                <span class="blink">.</span>
                <span class="blink">.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-2 col-12">
            <form [formGroup]="form" (keyup.enter)="sendQuestion()">
                <div class="input-field">
                    <div class="email"><input type="email" placeholder="Ask something..." autocomplete="on"
                            formControlName="question">
                        <img src="assets/img/sm.png" alt="send_msg" (click)="sendQuestion()" *ngIf="form.valid">
                        <img src="assets/img/delete.png" alt="delete_msg" (click)="deleteChat()" *ngIf="form.invalid">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>