<div class="toolbar">
  <a [routerLink]="'/home'" class="px-lg-5 px-3">
    <img src={{imageSrc}} alt="" style="height: 35px; width: 35px;">
    <span class="ai-name">{{appName}}</span>
  </a>
  <div class="spacer"></div>
  <a title="Delete Chat" *ngIf="chatE1">
    <mat-icon (click)="deleteLocalstorage()" class="icon material-symbol-rounded">delete</mat-icon>
  </a>
  <div title="User Detail" *ngIf="home && userDetail">
    <img src="assets/img/ha.png" alt="" [matMenuTriggerFor]="menu" class="main-menu">
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="row d-flex">
      <div class="user-img"></div><img src="assets/img/alien.png" alt="" class="sub-menu">
      <div class="user-id">{{userDetail?.firstName}}
        <div style="font-size: 12px;">{{userDetail?.email}}</div>
      </div>
    </button>
    <button mat-menu-item><img src="assets/img/logout.png" alt="" class="icon sub-menu">Logout</button>
  </mat-menu>
</div>
<router-outlet></router-outlet>