<div class="container">
    <div class="content-box m-2" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="chat" id="msgContainer">
            <div *ngIf="dellE" class="row col-lg-4 col-md-8 col-sm-10 col-10">
                <div *ngFor="let dt of data" class="col-6">
                    <img src="{{dt.url}}" class="col-12 py-1 pl-2 rounded zoom" (click)="openDialog(dt.url)">
                </div>
            </div>
        </div>
        <div *ngIf="loading" class="loader">Generating image: {{questionstr}}
            <span class="blink">.</span>
            <span class="blink">.</span>
            <span class="blink">.</span>
        </div>
    </div>
    <form class="row mt-1" [formGroup]="form" (keyup.enter)="sendQuestion()">
        <div class="col-12 stick-bottom">
            <div class="input-field">
                <div class="email"><input type="email" placeholder="Search image..." autocomplete="on"
                        formControlName="question">
                    <img src="assets/img/sm.png" alt="" (click)="sendQuestion()" *ngIf="form.valid">
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-2 col-3">
            <mat-form-field appearance="outline" class="count mat-form-field">
                <mat-select formControlName="count">
                    <mat-option *ngFor="let count of counts" [value]="count.value">
                        {{count.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-7">
            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-select formControlName="resolution">
                    <mat-option *ngFor="let res of resolutions" [value]="res.value">
                        {{res.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
    </form>
</div>

<ng-template #callImageDialog class="row">
    <img src={{seletedImage}} alt="seleted image" style="width: 100vh; height: 80vh;">
</ng-template>