@import "../../../styles.scss";

// .container {
//   display: flex;
//   flex-direction: column;
//   min-height:93vh;
// }

.chat {
  display: flex;
  flex-direction: column;
}

.stick-bottom {
  position: sticky;
}

.count {
  width: 100%;
}

.image-container{
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(white, 1);
  backdrop-filter: blur(10px);
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.2);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.content-box {
  animation: 1s ease-out 0s 1 slideInLeft;
}